In [115]:
import numpy as np 
import pandas as pd
import os

In [116]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.metrics import mean_squared_log_error
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor,BaggingRegressor,GradientBoostingRegressor
from sklearn import preprocessing
from sklearn.metrics import r2_score

from math import sqrt
from sklearn.preprocessing import minmax_scale

In [117]:
input_set = pd.read_csv('kc_house_data.csv')
input_set

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [118]:
point = round(len(input_set) * 0.85)
point
df_train = input_set[:point]
df_test = input_set[point:]
df_train

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18366,2225059273,20141114T000000,975000.0,5,3.50,5470,35071,2.0,0,0,...,11,4590,880,1976,0,98005,47.6368,-122.159,3600,35074
18367,1370803445,20140909T000000,1140000.0,4,1.75,3080,6500,1.0,0,0,...,9,1700,1380,1941,0,98199,47.6353,-122.402,2960,5711
18368,1236300268,20150303T000000,500000.0,3,1.00,940,10360,1.0,0,0,...,7,940,0,1964,0,98033,47.6880,-122.190,2019,10360
18369,7752700110,20140618T000000,554000.0,5,2.25,1870,11411,1.0,0,0,...,8,1170,700,1961,0,98155,47.7445,-122.289,2420,10793
18370,2781250230,20140605T000000,343000.0,4,2.50,2070,4500,2.0,0,0,...,7,2070,0,2004,0,98038,47.3497,-122.026,2760,5173

In [119]:
df_test

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
18371,4027701055,20150424T000000,515000.0,2,1.75,950,15219,1.0,0,0,...,8,950,0,2009,0,98028,47.7723,-122.262,1560,12416
18372,2755200040,20140712T000000,492000.0,2,1.00,1290,6272,1.0,0,0,...,6,890,400,1922,0,98115,47.6777,-122.305,1260,5376
18373,2193320450,20150213T000000,655000.0,4,3.00,2570,8022,1.0,0,0,...,8,1370,1200,1984,0,98052,47.6956,-122.099,2090,8022
18374,2895550330,20150506T000000,290000.0,3,2.50,1600,6848,2.0,0,0,...,7,1600,0,2000,0,98001,47.3303,-122.271,1700,7210
18375,8712100790,20140701T000000,952500.0,4,1.50,2550,5055,2.0,0,0,...,10,2550,0,1910,0,98112,47.6360,-122.301,1970,4431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [120]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18371 entries, 0 to 18370
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18371 non-null  int64
 1   date           18371 non-null  object
 2   price          18371 non-null  float64
 3   bedrooms       18371 non-null  int64
 4   bathrooms      18371 non-null  float64
 5   sqft_living    18371 non-null  int64
 6   sqft_lot       18371 non-null  int64
 7   floors         18371 non-null  float64
 8   waterfront     18371 non-null  int64
 9   view           18371 non-null  int64
 10  condition      18371 non-null  int64
 11  grade          18371 non-null  int64
 12  sqft_above     18371 non-null  int64
 13  sqft_basement  18371 non-null  int64
 14  yr_built       18371 non-null  int64
 15  yr_renovated   18371 non-null  int64
 16  zipcode        18371 non-null  int64
 17  lat            18371 non-null  float64
 18  long           18371 non-null  float64
 19  sqft_living15  18371 non-null  int64
 20  sqft_lot15     18371 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 2.9+ MB

In [121]:
df_train['date'] = pd.to_datetime(df_train['date'])

<ipython-input-121-066766849f0d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['date'] = pd.to_datetime(df_train['date'])

In [122]:
df_train

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18366,2225059273,2014-11-14,975000.0,5,3.50,5470,35071,2.0,0,0,...,11,4590,880,1976,0,98005,47.6368,-122.159,3600,35074
18367,1370803445,2014-09-09,1140000.0,4,1.75,3080,6500,1.0,0,0,...,9,1700,1380,1941,0,98199,47.6353,-122.402,2960,5711
18368,1236300268,2015-03-03,500000.0,3,1.00,940,10360,1.0,0,0,...,7,940,0,1964,0,98033,47.6880,-122.190,2019,10360
18369,7752700110,2014-06-18,554000.0,5,2.25,1870,11411,1.0,0,0,...,8,1170,700,1961,0,98155,47.7445,-122.289,2420,10793
18370,2781250230,2014-06-05,343000.0,4,2.50,2070,4500,2.0,0,0,...,7,2070,0,2004,0,98038,47.3497,-122.026,2760,5173

In [123]:
df_test['date'] = pd.to_datetime(df_test['date'])

<ipython-input-123-ab2bc3166dbb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['date'] = pd.to_datetime(df_test['date'])

In [124]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18371 entries, 0 to 18370
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             18371 non-null  int64
 1   date           18371 non-null  datetime64[ns]
 2   price          18371 non-null  float64
 3   bedrooms       18371 non-null  int64
 4   bathrooms      18371 non-null  float64
 5   sqft_living    18371 non-null  int64
 6   sqft_lot       18371 non-null  int64
 7   floors         18371 non-null  float64
 8   waterfront     18371 non-null  int64
 9   view           18371 non-null  int64
 10  condition      18371 non-null  int64
 11  grade          18371 non-null  int64
 12  sqft_above     18371 non-null  int64
 13  sqft_basement  18371 non-null  int64
 14  yr_built       18371 non-null  int64
 15  yr_renovated   18371 non-null  int64
 16  zipcode        18371 non-null  int64
 17  lat            18371 non-null  float64
 18  long           18371 non-null  float64
 19  sqft_living15  18371 non-null  int64
 20  sqft_lot15     18371 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(15)
memory usage: 2.9 MB

In [73]:
labelencoder = preprocessing.LabelEncoder()

df_train['id'] = labelencoder.fit_transform(df_train['id'])
df_train['date'] = labelencoder.fit_transform(df_train['date'])
df_train['price'] = labelencoder.fit_transform(df_train['price'])
df_train['bedrooms'] = labelencoder.fit_transform(df_train['bedrooms'])
df_train['bathrooms'] = labelencoder.fit_transform(df_train['bathrooms'])
df_train['sqft_living'] = labelencoder.fit_transform(df_train['sqft_living'])
df_train['sqft_lot'] = labelencoder.fit_transform(df_train['sqft_lot'])
df_train['floors'] = labelencoder.fit_transform(df_train['floors'])
df_train['waterfront'] = labelencoder.fit_transform(df_train['waterfront'])
df_train['view'] = labelencoder.fit_transform(df_train['view'])
df_train['condition'] = labelencoder.fit_transform(df_train['condition'])
df_train['grade'] = labelencoder.fit_transform(df_train['grade'])
df_train['sqft_above'] = labelencoder.fit_transform(df_train['sqft_above'])
df_train['sqft_basement'] = labelencoder.fit_transform(df_train['sqft_basement'])
df_train['yr_built'] = labelencoder.fit_transform(df_train['yr_built'])
df_train['yr_renovated'] = labelencoder.fit_transform(df_train['yr_renovated'])
df_train['zipcode'] = labelencoder.fit_transform(df_train['zipcode'])
df_train['lat'] = labelencoder.fit_transform(df_train['lat'])
df_train['long'] = labelencoder.fit_transform(df_train['long'])
df_train['sqft_living15'] = labelencoder.fit_transform(df_train['sqft_living15'])
df_train['sqft_lot15'] = labelencoder.fit_transform(df_train['sqft_lot15'])

<ipython-input-73-52cbf6ea566b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['id'] = labelencoder.fit_transform(df_train['id'])
<ipython-input-73-52cbf6ea566b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['date'] = labelencoder.fit_transform(df_train['date'])
<ipython-input-73-52cbf6ea566b>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['price'] = labelencoder.fit_transform(df_train['price'])
<ipython-input-73-52cbf6ea566b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['bedrooms'] = labelencoder.fit_transform(df_train['bedrooms'])
<ipython-input-73-52cbf6ea566b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['bathrooms'] = labelencoder.fit_transform(df_train['bathrooms'])
<ipython-input-73-52cbf6ea566b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_living'] = labelencoder.fit_transform(df_train['sqft_living'])
<ipython-input-73-52cbf6ea566b>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_lot'] = labelencoder.fit_transform(df_train['sqft_lot'])
<ipython-input-73-52cbf6ea566b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['floors'] = labelencoder.fit_transform(df_train['floors'])
<ipython-input-73-52cbf6ea566b>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['waterfront'] = labelencoder.fit_transform(df_train['waterfront'])
<ipython-input-73-52cbf6ea566b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['view'] = labelencoder.fit_transform(df_train['view'])
<ipython-input-73-52cbf6ea566b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['condition'] = labelencoder.fit_transform(df_train['condition'])
<ipython-input-73-52cbf6ea566b>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['grade'] = labelencoder.fit_transform(df_train['grade'])
<ipython-input-73-52cbf6ea566b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_above'] = labelencoder.fit_transform(df_train['sqft_above'])
<ipython-input-73-52cbf6ea566b>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_basement'] = labelencoder.fit_transform(df_train['sqft_basement'])
<ipython-input-73-52cbf6ea566b>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['yr_built'] = labelencoder.fit_transform(df_train['yr_built'])
<ipython-input-73-52cbf6ea566b>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['yr_renovated'] = labelencoder.fit_transform(df_train['yr_renovated'])
<ipython-input-73-52cbf6ea566b>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['zipcode'] = labelencoder.fit_transform(df_train['zipcode'])
<ipython-input-73-52cbf6ea566b>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['lat'] = labelencoder.fit_transform(df_train['lat'])
<ipython-input-73-52cbf6ea566b>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['long'] = labelencoder.fit_transform(df_train['long'])
<ipython-input-73-52cbf6ea566b>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_living15'] = labelencoder.fit_transform(df_train['sqft_living15'])
<ipython-input-73-52cbf6ea566b>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['sqft_lot15'] = labelencoder.fit_transform(df_train['sqft_lot15'])

In [74]:
df_test['id'] = labelencoder.fit_transform(df_test['id'])
df_test['date'] = labelencoder.fit_transform(df_test['date'])
df_test['price'] = labelencoder.fit_transform(df_test['price'])
df_test['bedrooms'] = labelencoder.fit_transform(df_test['bedrooms'])
df_test['bathrooms'] = labelencoder.fit_transform(df_test['bathrooms'])
df_test['sqft_living'] = labelencoder.fit_transform(df_test['sqft_living'])
df_test['sqft_lot'] = labelencoder.fit_transform(df_test['sqft_lot'])
df_test['floors'] = labelencoder.fit_transform(df_test['floors'])
df_test['waterfront'] = labelencoder.fit_transform(df_test['waterfront'])
df_test['view'] = labelencoder.fit_transform(df_test['view'])
df_test['condition'] = labelencoder.fit_transform(df_test['condition'])
df_test['grade'] = labelencoder.fit_transform(df_test['grade'])
df_test['sqft_above'] = labelencoder.fit_transform(df_test['sqft_above'])
df_test['sqft_basement'] = labelencoder.fit_transform(df_test['sqft_basement'])
df_test['yr_built'] = labelencoder.fit_transform(df_test['yr_built'])
df_test['yr_renovated'] = labelencoder.fit_transform(df_test['yr_renovated'])
df_test['zipcode'] = labelencoder.fit_transform(df_test['zipcode'])
df_test['lat'] = labelencoder.fit_transform(df_test['lat'])
df_test['long'] = labelencoder.fit_transform(df_test['long'])
df_test['sqft_living15'] = labelencoder.fit_transform(df_test['sqft_living15'])
df_test['sqft_lot15'] = labelencoder.fit_transform(df_test['sqft_lot15'])

<ipython-input-74-c41aba762167>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['id'] = labelencoder.fit_transform(df_test['id'])
<ipython-input-74-c41aba762167>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['date'] = labelencoder.fit_transform(df_test['date'])
<ipython-input-74-c41aba762167>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['price'] = labelencoder.fit_transform(df_test['price'])
<ipython-input-74-c41aba762167>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['bedrooms'] = labelencoder.fit_transform(df_test['bedrooms'])
<ipython-input-74-c41aba762167>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['bathrooms'] = labelencoder.fit_transform(df_test['bathrooms'])
<ipython-input-74-c41aba762167>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_living'] = labelencoder.fit_transform(df_test['sqft_living'])
<ipython-input-74-c41aba762167>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_lot'] = labelencoder.fit_transform(df_test['sqft_lot'])
<ipython-input-74-c41aba762167>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['floors'] = labelencoder.fit_transform(df_test['floors'])
<ipython-input-74-c41aba762167>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['waterfront'] = labelencoder.fit_transform(df_test['waterfront'])
<ipython-input-74-c41aba762167>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['view'] = labelencoder.fit_transform(df_test['view'])
<ipython-input-74-c41aba762167>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['condition'] = labelencoder.fit_transform(df_test['condition'])
<ipython-input-74-c41aba762167>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['grade'] = labelencoder.fit_transform(df_test['grade'])
<ipython-input-74-c41aba762167>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_above'] = labelencoder.fit_transform(df_test['sqft_above'])
<ipython-input-74-c41aba762167>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_basement'] = labelencoder.fit_transform(df_test['sqft_basement'])
<ipython-input-74-c41aba762167>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['yr_built'] = labelencoder.fit_transform(df_test['yr_built'])
<ipython-input-74-c41aba762167>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['yr_renovated'] = labelencoder.fit_transform(df_test['yr_renovated'])
<ipython-input-74-c41aba762167>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['zipcode'] = labelencoder.fit_transform(df_test['zipcode'])
<ipython-input-74-c41aba762167>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['lat'] = labelencoder.fit_transform(df_test['lat'])
<ipython-input-74-c41aba762167>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['long'] = labelencoder.fit_transform(df_test['long'])
<ipython-input-74-c41aba762167>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_living15'] = labelencoder.fit_transform(df_test['sqft_living15'])
<ipython-input-74-c41aba762167>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['sqft_lot15'] = labelencoder.fit_transform(df_test['sqft_lot15'])

In [78]:
df_test

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
18371,1722,301,706,2,5,36,2099,0,0,0,...,5,44,0,107,0,16,2061,160,99,1829
18372,1044,60,663,2,2,84,1255,0,0,0,...,3,36,52,21,0,49,1628,117,46,862
18373,841,239,925,4,10,337,1594,0,0,0,...,5,108,141,82,0,28,1748,321,180,1379
18374,1151,312,196,3,8,148,1368,2,0,0,...,4,157,0,98,0,0,176,151,120,1224
18375,2858,52,1217,4,4,333,988,2,0,0,...,7,339,0,9,0,48,1406,121,160,656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,84,16,371,3,8,136,170,4,0,0,...,5,143,0,107,0,42,1777,76,93,235
21609,2137,246,473,4,8,283,1167,2,0,0,...,5,290,0,112,0,60,720,60,139,1218
21610,555,45,478,2,1,47,287,2,0,0,...,4,55,0,107,0,59,1221,123,17,344
21611,89,216,473,3,8,148,522,2,0,0,...,5,157,0,102,0,15,854,349,69,135
21612,556,142,272,2,1,47,140,2,0,0,...,4,55,0,106,0,59,1218,123,17,173

In [79]:
df_test = df_test.fillna(df_test.mean())

In [80]:
y = df_train['price']
X = df_train.drop('price',axis = 1)

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30,random_state = 42)

In [101]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)
print(round(rf.score(X_train, y_train) * 100))
print(round(rf.score(X_test, y_test) * 100))

99.0
90.0

In [103]:
rf_y_pred = rf.predict(X_test)

In [104]:
#Accuracy testing
predicted_mean = minmax_scale(rf_y_pred,feature_range=(0,1))
y_test_mean = minmax_scale(y_test,feature_range=(0,1))

rf_mse = mean_squared_log_error(y_test_mean,predicted_mean)
rf_mse = np.sqrt(rf_mse)
rf_mse = rf_mse

round(rf_mse*100)

6.0

In [84]:
gbr = GradientBoostingRegressor(n_estimators= 300,criterion = 'mse')
gbr.fit(X_train,y_train)
print(round(gbr.score(X_train,y_train)*100))
print(round(gbr.score(X_test,y_test)*100))

92.0
90.0

In [85]:
gbr_y_pred = gbr.predict(X_test)

In [86]:
#Accuracy testing
predicted_mean = minmax_scale(gbr_y_pred,feature_range=(0,1))
y_test_mean = minmax_scale(y_test,feature_range=(0,1))

gbr_mse = mean_squared_log_error(y_test_mean,predicted_mean)
gbr_mse = np.sqrt(gbr_mse)
gbr_mse = gbr_mse

round(gbr_mse*100)

6.0

In [87]:
br = BaggingRegressor()
br.fit(X_train,y_train)
print(round(br.score(X_train,y_train)*100))
print(round(br.score(X_test,y_test)*100))

98.0
89.0

In [88]:
br_y_pred = br.predict(X_test)

In [89]:
#Accuracy testing
predicted_mean = minmax_scale(br_y_pred,feature_range=(0,1))
y_test_mean = minmax_scale(y_test,feature_range=(0,1))

br_mse = mean_squared_log_error(y_test_mean,predicted_mean)
br_mse = np.sqrt(br_mse)
br_mse = br_mse

round(br_mse*100)

6.0

In [90]:
lr = LinearRegression()

lr.fit(X_train,y_train)
print(round(lr.score(X_train,y_train)*100))
print(round(lr.score(X_test,y_test)*100))

76.0
77.0

In [91]:
y_pred = lr.predict(X_test)

In [92]:
#Accuracy testing
predicted_mean = minmax_scale(y_pred,feature_range=(0,1))
y_test_mean = minmax_scale(y_test,feature_range=(0,1))

LR_mse = mean_squared_log_error(y_test_mean,predicted_mean)
LR_mse = np.sqrt(LR_mse)
LR_mse = LR_mse

In [93]:
round(LR_mse*100)

10.0

In [94]:
ada = AdaBoostRegressor()
ada.fit(X_train,y_train)
print(round(ada.score(X_train,y_train)*100))
print(round(ada.score(X_test,y_test)*100))

76.0
76.0

In [95]:
ada_y_pred = ada.predict(X_test)

In [96]:
#Accuracy testing
predicted_mean = minmax_scale(ada_y_pred,feature_range=(0,1))
y_test_mean = minmax_scale(y_test,feature_range=(0,1))

ada_mse = mean_squared_log_error(y_test_mean,predicted_mean)
ada_mse = np.sqrt(ada_mse)
ada_mse = ada_mse

round(ada_mse*100)

8.0

In [105]:
test_predicted = br.predict(df_test)

In [108]:
df1 = pd.DataFrame(test_predicted,df_test['id'],columns= ['price'] )

In [112]:
df1.to_csv('sample_submission.csv')